// Variables
$acdh_blue: #88dbdf;
$gray-100: #F1F1F1;

// Grid columns
$grid-gutter-width: 20px;

// Body
$body-bg: $gray-100;
$body-color: #444444;

// Navbar
$navbar-padding-y: 0;
$navbar-light-active-color: $body-color;