body.fixed-nav {
  padding-top: 104px;
}

.card h3:after {
  content: '';
  display: block;
  width: 50px;
  border-top: $element-border;
  margin-top: 15px;
  margin-bottom: 15px;
}

.jumbotron h1:after {
  content: '';
  margin-left: calc(50% - 30px);
  display: block;
  width: 50px;
  border-top: $element-border;
  margin-top: 15px;
  margin-bottom: 15px;
}

iframe {
  border: none;
}

.box-shadow { 
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.03);; 
}