/*
.contained .navbar {
  padding: 0;
}
*/

.navbar {
  border-bottom: $element-border;
  margin-bottom: 20px;

  a {
    transition: color 0.2s linear;
  }

  &-expand-md > .container {
    @include breakpoint-down($md) {
      padding-left: $grid-gutter-width / 2;
      padding-right: $grid-gutter-width / 2;
    }
  }

  .navbar-brand {
    font-weight: 700;
    padding-right: 20px;
    display: flex;
    align-items: center;
    min-height: 65px;

    @include breakpoint-down($lg) {
      padding-right: 5px;
    }

    img {
      max-height: 50px;
    }

  }

  ul.navbar-nav {
    padding: 0 20px;
    align-items: center;
    flex: 1;

    @include breakpoint-down($lg) {
      padding: 0 10px;
    }

    @include breakpoint-down($md) {
      padding: 10px 0;
      margin-top: 10px;
      border-left: 0;
      border-top: 1px solid #88dbdf;
      align-items: left;
    }

    &:after {
      content: '';
      position: absolute;
      margin-left: -20px;
      height: 100%;
      border-right: 1px solid $acdh_blue;

      @include breakpoint-down($lg) {
        margin-left: -10px;
      }

      @include breakpoint-down($md) {
        display: none;
      }

    }

    .nav-link {
        font-weight: 500;

        @include breakpoint-up($lg) {
          padding-right: 1rem;
          padding-left: 1rem;
        }

    }

    .navbar-search {
      width: 180px;
      height: 35px;
      display: flex;
      margin: 0 10px 0 20px;

      .btn {
        background-color: $acdh_blue;
        border-color: $acdh_blue;

        i {
          font-size: 20px;
          vertical-align: middle;
        }

      }//.navbar-search .btn

      input {
        width: 145px;
      }
    }//.navbar-search

  }//.ul.navbar-nav

  .navbar-icons {
    display: flex;
    padding-left: 10px;
    align-items: center;

    @include breakpoint-down($lg) {
      padding-left: 5px;
    }

    @include breakpoint-down($md) {
      margin-left: -10px;
    }

    &:before {
      content: '';
      position: absolute;
      margin-left: -10px;
      height: 100%;
      border-right: 1px solid $acdh_blue;

      @include breakpoint-down($md) {
        display: none;
      }

    }

    a {
      font-size: 20px;
      color: $gray-500;
      padding-left: 20px;

      @include breakpoint-down($lg) {
        padding-left: 10px;
      }

      @include breakpoint-down($md) {
        padding-left: 5px;
        padding-right: 10px;
      }

      &:hover {
        text-decoration: none;
        color: $body-color;
      }
    }//.navbar-icons a
  }//.navbar-icons

}//.navbar
