.grid-col {
  margin-bottom: $grid-gutter-width;
}

.row-heading {
  text-align: center;
  color: $gray-600;
}

.card {
  border-top: $element-border;
  overflow: hidden;
}

.card-img-right {
    max-width: 40%;
    object-fit: cover;
}

.jumbotron {
  background-color: #ffffff;
  border-top: $element-border;
  border-radius: 0px;
  margin-bottom: 20px;
  text-align: center;
  padding: 60px 20px;
  color: #fff;
  background-size: cover;
}

.container-fluid .jumbotron {
    margin-left: -10px;
    margin-right: -10px;
}

.fixed-nav .container-fluid .jumbotron {
    margin-top: -25px;
}

.btn-main {
  border: 1px solid $acdh_blue;
  background-color: #fff;
  color: $body-color;
}